.accounts{
    .card-body {
        min-height: 150px;
    }
    
    .back-button-container1 {
        display: flex;
        align-items: center;
    }
    
    .back-button-title1 {
        font-size: 24px;
        font-weight: 600;
        margin-left: 20px;
    }
    
    .accounts-container {
        background-color: #FFEAE6;
        border-radius: 15px;
    }
    
    .advertisement-container {
        background-color: #F2F2F8;
        border-radius: 15px;
    }
    
    .advertisement-carousel {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .advertisement-image {
        max-width: 100%;
        max-height: 300px;
    }
    
    .transaction-history-container {
        background-color: #FFEAE6;
        border-radius: 15px;
    }
}